# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/

# Environment variables and secrets
.env
.env.local
*.pem
secrets/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
profiles.yml

# Data files
data/raw/*.csv
data/processed/*.csv
data/raw/*.parquet
data/processed/*.parquet

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml