pandas==2.2.2
numpy==1.26.4
faker==30.1.0
python-dateutil==2.9.0
jupyter==1.0.0
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
dbt-snowflake==1.8.0
snowflake-connector-python==3.6.0
snowflake-sqlalchemy==1.5.1
python-dotenv==1.0.1
streamlit==1.39.0
plotly==5.24.1